@import '../../App.scss';

.category {
  &-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 4px 8px 2px;
    border-radius: 20px;
    width: 200px;
    height: 150px;
    cursor: pointer;
    &:hover{
      box-shadow: rgba(99, 99, 99, 0.2) 4px 8px 10px 4px;
  }
  }
  

  &-image {
    width: 50%;
    height: auto;
    overflow: hidden;
  }

  &-name {
    margin-top: 5px;
    text-align: center;
  }

  
  @media screen and (max-width: 576px) {
    &-item{
      width: 180px;
      height: 135px;
    }
    
  }
  
  @media screen and (max-width: 390px) {
    &-item{
      width: 151px;
      height: 113px;
    }
  }
}
