@import '../../App.scss';

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
  box-shadow: 2px 2px 2px 2px $clr-ghost-white;
  width: 190px;
  height: 250px;
  padding: 0 30px;

  &-image {
    width: 90%;
    height: auto;
    overflow: hidden;
    position: relative;
  }

  &-text {
    &-name {
      font-size: 13px;
      margin: 0;
    }
    &-description {
      margin: 0;
      font-size: 10px;
      color: $clr-dark;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      max-width: 180px;
    }
  }

  @media screen and (max-width: 576px) {
    width: 170px;
    height: 198px;

    &-text {
      &-description {
        max-width: 160px;
      }
    }
  }
}
