@import "../../App.scss";

.navbar{
    width: 100%;
    padding: 25px 0 15px 0;
    margin-bottom: 25px;
    margin-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color:  $clr-pine-green ;
    &-brand{
        font-size: 30px;
        font-weight: 700;

        @media screen and (max-width: 992px){
            font-size: 24px;
        }

        @media screen and (max-width: 576px){
            font-size: 20px;
        }
    }
    &-btns{
        .add-to-cart-btn{
            margin-right: 28px;
            color:$clr-regal-blue;
            .btn-ico{
                margin-right: 10px;
                font-size: 25px;
                .cart-count-value{
                    position: absolute;
                    margin-top: -15px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $clr-gold;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    font-size: 14px;
                    color: $clr-white;
                    opacity: 0.8;
                    font-weight: 500;
                }
                @media screen and (max-width: 992px){
                    font-size: 20px;
                }
            }
        }
    }

}